body, main, input {
  background-color: #0D1117;
  color: #ddd;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

p {
  text-align: center;
  margin: 10px;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 2rem;
}

div#scrollArea{
  min-height: 100vh;
  margin: auto;
}

main {
  max-width: 1500px;
  min-height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

td a {
  display: block;
}

footer p a {
  white-space: nowrap;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #555;
  padding: 3px;
  white-space: nowrap;
}

td:nth-of-type(3),
td:nth-of-type(4) {
  white-space: normal;
}

/* tr {
  padding-top: 30px;
  display:table-row;
} */

th {
  background-color: #555;
  color: white;
  user-select: none;
  /* cursor: pointer; */
}

tr:nth-child(even) {
  background-color: #181f29;
}

/* table tr:hover {
  background-color: #444;
} */

input {
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid #555;
  padding: 4px;
  max-width: 20rem;
  width: 80vw;
  text-align: center;
  margin: 30px auto;
  display:flex;
  align-items: center;
  outline: none;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 760px) and (max-device-width: 1024px)  {
  table {
    overflow: hidden;
  }

	table, thead, tbody, th, td { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "place . apk"
    "name name name"
    "type type type"
    "alcohol volume price";
    border-top: 1px solid #555;
  }

  td {
    border: none;
    white-space: nowrap;
    padding: 3px 10px;
  }

  td:nth-of-type(1) {
    grid-area: place;
  } 

  td:nth-of-type(2) {
    grid-area: apk;
    text-align: right;
  }
  td:nth-of-type(3) {
    grid-area: name;
  }
  td:nth-of-type(4) {
    grid-area: type;
  }
  td:nth-of-type(5) {
    grid-area: alcohol;
  }
  td:nth-of-type(6) {
    grid-area: volume;
    text-align: center;
  }
  td:nth-of-type(7) {
    grid-area: price;
    text-align: right;
  }

	td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):after { content: " APK"; }
	/* td:nth-of-type(3):before { content: "Namn:"; } */
	/* td:nth-of-type(4):before { content: "Typ"; } */
	/* td:nth-of-type(5):before { content: "Alkohol: "; } */
	/* td:nth-of-type(6):before { content: "Volym: "; } */
	/* td:nth-of-type(7):before { content: "Pris: "; } */

  footer {
    margin: 30px 0;
  }
}