body, main, input {
  background-color: #0D1117;
  color: #ddd;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: center;
  margin: 10px;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 2rem;
}

main {
  max-width: 1500px;
  min-height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ddd;
}

table a {
  display: block;
}

footer p a {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #555;
  padding: 4px
}

/* table tr {
  padding-top: 30px;
  display:table-row;
} */

table th {
  background-color: #555;
  color: white;
  user-select: none;
  /* cursor: pointer; */
}

/* table tr:nth-child(even) {
  background-color: #181f29;
} */

table tr:hover {
  background-color: #444;
}

input {
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid #555;
  padding: 4px;
  width: 20rem;
  text-align: center;
  margin: 30px auto;
  display:flex;
  align-items: center;
  outline: none;
}